h1 Welcome!
div Click "Recent Pins" to view recently-submitted pins, or Sign In and click New Pin to post your own!
// Image: Creative Commons - https://commons.wikimedia.org/wiki/File:Emojione_1F4CD.svg
img(id="push-pin" src="/images/pushpin.svg")