h1 Recent Pins
div(id="recent-div" ng-controller="recent" class="grid")
    div(id="rd-debug" ng-click="showAlert()")
        |{{count}} abc
        br
    div(id="loading-div") Loading recent pins...