html {
    height: 100%;
}

@bg-color: hsl(240, 44%, 45%); /* Orig hsl(240, 44%, 45%); */
/* @bg-col2 /* Orig hsl(240, 66%, 30%); */
@bg-col2 : darken(saturate(@bg-color, 22%), 15%);

body {
    background: radial-gradient(ellipse at center, @bg-color 0%, @bg-col2 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

a {
    color: #00B7FF;
}

main {
    background-color: white;
    border: 2px ridge rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,.2),
        2px 2px 2px 2px rgba(0,0,0,.2);
    margin-bottom: 40px;
    padding: 6px;
}

main h1 {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

main.ng-enter {
    /* transition on enter for .5s */
    transition: 300ms;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

main.ng-enter-active {
    opacity: 1;
}

#add-new i {
    color: hsl(120, 80%, 40%);
}

#add-div input[type=text] {
    border-radius: 4px;
    transition: 300ms;
    width: 300px;
}

#add-div input[type=text].ng-not-empty.ng-touched.ng-valid {
    background-color: lightgreen;
}

#add-div input[type=text].ng-invalid.ng-not-empty.ng-touched {
    background-color: lightpink;
}

@babg-color: hsl(120, 80%, 40%); // Background color
@babd-color: darken(saturate(@babg-color, 6%), 6%); //Border color

#button-add {
    background-color: @babg-color;
    border-color: @babd-color;
    border-radius: 4px;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px @babg-color;
    transition: 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

#button-add:hover {
    background-color: #FCB85C;
    border-color: #FCAE4C;
    box-shadow: none;
}

#button-add:disabled {
    background-color: #B85C5C;
    border-color: #AE4C4C;
    border-radius: 4px;
    box-shadow: none;
    color: darkred;
    margin-top: 5px;
    cursor: not-allowed;
}


@baibg-color: hsl(240, 80%, 40%);
@baibd-color: darken(saturate(@baibg-color, 6%), 6%);

#button-add.addbtn-info {
    background-color: @baibg-color;
    border-color: @baibd-color;
    box-shadow: none;
}


@img-ph-maxw: 400px;
@img-ph-maxh: 400px;
@img-ph-bw: 3px;

#image-placeholder {
    box-shadow: inset 0px 0px 10px 10px rgba(0,0,100,.2);
    cursor: default; /* Should the standard mouse pointer, instead of the text selection pointer, as this text is not going to be selectable */
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: @img-ph-bw outset rgb(0,200,100);
    border-radius: 4px;
    margin-bottom: 8px;
    min-width: 200px;
    min-height: 200px;
    max-height: @img-ph-maxh;
    max-width: @img-ph-maxw;
    letter-spacing: 1.2em;
    color: darkgrey;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#image-placeholder img {
    max-height: @img-ph-maxh - (2 * @img-ph-bw);
    max-width: @img-ph-maxw - (2 * @img-ph-bw);
    object-fit: contain; /* Maintains aspect ratio */
}

#np-debug tt {
    display: block;
}

.brand-red {
    color: hsl(0, 80%, 40%);
    display: inline-block; /* required for transform */
    font-weight: 800;
    letter-spacing: .1em;
    transform: rotate(-10deg);
}

.grid-item {
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 84%, rgba(254,252,255,1) 100%);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 4px rgb(0, 0, 0);
    float: left;
    margin: 2px;
    overflow: hidden;
    padding: 6px;
    width: 280px;
}

.grid-item img {
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,.4);
    margin-bottom: 5px;
    width: 100%;
}

.navbar {
    border: 2px ridge rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2),
        2px 2px 2px 2px rgba(0,0,0,.2);
}

.navbar-nav>li {
    transition: background-color 500ms;
}

.navKbSelect {
    background-color: rgba(255, 255, 0, .2);
    text-decoration: underline;
}

.pin-info {
    font-family: "Nothing You Could Do";
}

.vote-button {
    background-color: ghostwhite;
    border-radius: 5px;
    float: right;
    margin: 0px 2px;
}

.delete-button {
    background-color: #FFF8F8;
    border-radius: 5px;
    color: darkred;
    float: right;
}

.pin-title {
    font-size: 18px;
    font-weight: 600; 
}

.star-count {
    margin-left: 5px;
}