html {
    height: 100%;
}

@bg-color: hsl(240, 44%, 45%); /* Orig hsl(240, 44%, 45%); */
/* @bg-col2 /* Orig hsl(240, 66%, 30%); */
@bg-col2 : darken(saturate(@bg-color, 22%), 15%);

body {
    background: radial-gradient(ellipse at center, @bg-color 0%, @bg-col2 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

a {
    color: #00B7FF;
}

main {
    background-color: white;
    border: 2px ridge rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,.2),
        2px 2px 2px 2px rgba(0,0,0,.2);
    padding: 6px;
}

main.ng-enter {
    /* transition on enter for .5s */
    transition: 300ms;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

main.ng-enter-active {
    opacity: 1;
}

#add-new i {
    color: hsl(120, 80%, 40%);
}

#button-add {
    margin-top: 5px;
}

#upload-div input[type=text] {
    transition: all 500ms;
    border: 1px outset black;
}

#upload-div input[type=text]:focus {
    background-color: hsl(45, 100%, 95%);
    border: 1px solid hsl(20, 100%, 75%);
    box-shadow: 0px 0px 5px hsl(45, 100%, 80%);
    outline: none;
}

#image-placeholder {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    border: 3px outset rgb(0,200,100);
    border-radius: 4px;
    margin-bottom: 8px;
    min-width: 200px;
    min-height: 200px;
    max-height: 400px;
    max-width: 400px;
    letter-spacing: 1.2em;
    color: darkgrey;
}

.brand-red {
    color: hsl(0, 80%, 40%);
    display: inline-block; /* required for transform */
    font-weight: 800;
    letter-spacing: .1em;
    transform: rotate(-10deg);
}

.navbar {
    border: 2px ridge rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2),
        2px 2px 2px 2px rgba(0,0,0,.2);
}

.navbar-nav>li {
    transition: background-color 500ms;
}

.navKbSelect {
    background-color: rgba(255, 255, 0, .2);
    text-decoration: underline;
}
