html {
    height: 100%;
}

@bg-color: hsl(240, 44%, 45%); /* Orig hsl(240, 44%, 45%); */
/* @bg-col2 /* Orig hsl(240, 66%, 30%); */
@bg-col2 : darken(saturate(@bg-color, 22%), 15%);

body {
    background: radial-gradient(ellipse at center, @bg-color 0%, @bg-col2 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

a {
    color: #00B7FF;
}

main {
    background-color: white;
    border: 2px ridge rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,.2),
        2px 2px 2px 2px rgba(0,0,0,.2);
    padding: 6px;
}

main h1 {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

main.ng-enter {
    /* transition on enter for .5s */
    transition: 300ms;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}

main.ng-enter-active {
    opacity: 1;
}

#add-new i {
    color: hsl(120, 80%, 40%);
}

#add-div input[type=text] {
    border-radius: 4px;
    transition: 300ms;
    width: 300px;
}

#add-div input[type=text].ng-not-empty.ng-touched.ng-valid {
    background-color: lightgreen;
}

#add-div input[type=text].ng-invalid.ng-not-empty.ng-touched {
    background-color: lightpink;
}

#button-add {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    border-radius: 4px;
    color: white;
    margin-top: 5px;
    transition: 300ms;
}

#button-add:disabled {
    background-color: #B85C5C;
    border-color: #AE4C4C;
    border-radius: 4px;
    color: darkred;
    margin-top: 5px;
    cursor: not-allowed;
}

@img-ph-maxw: 400px;
@img-ph-maxh: 400px;

#image-placeholder {
    box-shadow: inset 0px 0px 10px 10px rgba(0,0,100,.2);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    border: 3px outset rgb(0,200,100);
    border-radius: 4px;
    margin-bottom: 8px;
    min-width: 200px;
    min-height: 200px;
    max-height: @img-ph-maxh;
    max-width: @img-ph-maxw;
    letter-spacing: 1.2em;
    color: darkgrey;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#image-placeholder img {
    margin: auto auto;
    max-height: @img-ph-maxh;
    max-width: @img-ph-maxw;
    object-fit: contain; /* Maintains aspect ratio */
}

#np-debug tt {
    display: block;
}

.brand-red {
    color: hsl(0, 80%, 40%);
    display: inline-block; /* required for transform */
    font-weight: 800;
    letter-spacing: .1em;
    transform: rotate(-10deg);
}

.navbar {
    border: 2px ridge rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.2),
        2px 2px 2px 2px rgba(0,0,0,.2);
}

.navbar-nav>li {
    transition: background-color 500ms;
}

.navKbSelect {
    background-color: rgba(255, 255, 0, .2);
    text-decoration: underline;
}

